[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastcore = "==1.3.27"
kaggle = "==1.5.12"
tqdm = "*"
numpy = "==1.22.2"
pandas = "==1.4.1"
pillow = "==9.0.1"
torch = "==1.10.2"
sklearn = "*"
matplotlib = "*"
torchvision = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.8"
